*{
    font-family: verdana;
}

/*navigation design */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}
  
li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: #111;
}


div h1{
    color: red;
    text-align: center;
    background-color: rgb(31, 29, 29);
    padding: 1%;
    margin-inline-start: auto;
}
div h2{
    color: gray;
    text-align: center;

}



/* text design*/
article{
    color: black;
    text-align: center;
    padding: 0;
    margin: 1px;
    background-color: white;
    border: black;
}

.DisclaimerBG{
    background-color: white;
}

/*background design */
body{
    background-color: rgb(139, 134, 134)

}


/*image design*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


/* footer design */
footer{
    text-align: center;
    padding: 0;
    margin: 1px;
    /*margin colour */
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: grey;
}
